/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    macros {
        forty_two: forty_two {
            label = "ZM_forty_two";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp N4>
                , <&macro_press &kp N2>
                ;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            //  -------------------------------------------------------------------------------------------------
            // |  GRAV |  1   |  2   |  3   |  4    |  5    |               |  6    |  7     |  8   |  9    |   0   | MINUS |
            // |  TAB  |  Q   |  W   |  E   |  R    |  T    |               |  Y    |  U     |  I   |  O    |   P   | EQUAL |
            // | RETURN|  A   |  S   |  D   |  F    |  G    |      ESC      |  H    |  J     |  K   |  L    |   ;   |  '    |
            // | SHIFT |  Z   |  X   |  C   |  V    |  B    |               |  N    |  M     |  ,   |  .    |   /   | SHIFT |
            //                       | LCMD | LOWER | SPACE | IDK   |  IDK  |  BCSP | RAISE  |  IDK |
            bindings = <
                &kp GRAVE    &kp N1     &kp N2    &kp N3    &kp N4     &kp N5                           &kp N6     &kp N7     &kp N8     &kp N9    &kp N0     &kp MINUS
                &kp TAB      &kp Q      &kp W     &kp E     &kp R      &kp T                            &kp Y      &kp U      &kp I      &kp O     &kp P      &kp EQUAL
                &kp RET      &kp A      &kp S     &kp D     &kp F      &kp G            &kp ESC         &kp H      &kp J      &kp K      &kp L     &kp SEMI   &kp SQT
                &kp LSHIFT   &kp Z      &kp X     &kp C     &kp V      &kp B                            &kp N      &kp M      &kp COMMA  &kp DOT   &kp SLASH  &kp RSHIFT
                                                  &kp LCMD  &mo LOWER  &kp SPACE   &trans     &trans    &kp BSPC   &mo RAISE  &trans
                >;
        };
        lower {
            // ------------------------------------------------------------------------------------------
            // |       |  F1  |  F2  |  F3  | F4    |  F5   |               |   F6  |  F7    |  F8  |  F9   |   F10 | F11   |
            // |       |  7   |  8   |  9   |  /    |  *    |               |       |        |      |       |       | F12   |
            // | CAPS  |  4   |  5   |  6   |  -    |  +    |       DEL     |       |        |      |       |       |       |
            // |  .    |  1   |  2   |  3   |  0    |       |               |       |        |      |       |       |       |
            //                       |      |       |       |       |       |       |        |      |
            bindings = <
                &trans         &kp F1        &kp F2       &kp F3         &kp F4            &kp F5                                    &kp F6      &kp F7      &kp F8      &kp F9            &kp F10            &kp F11
                &trans         &kp KP_N7     &kp KP_N8    &kp KP_N9      &kp KP_SLASH      &kp KP_ASTERISK                           &trans      &trans      &trans      &trans            &trans             &kp F12
                &kp CAPS       &kp KP_N4     &kp KP_N5    &kp KP_N6      &kp KP_MINUS      &kp KP_PLUS             &kp DEL           &trans      &trans      &trans      &trans            &trans             &trans
                &kp KP_DOT     &kp KP_N1     &kp KP_N2    &kp KP_N3      &kp KP_N0         &trans                                    &trans      &trans      &trans      &trans            &trans             &trans
                                                          &trans         &none             &trans             &trans    &trans       &trans      &none       &trans
                >;
        };
        raise {
            // -------------------------------------------------------------------------------------------
            // |   `   |  1   |  2   |  3   |  4   |   5   |   6   |   7   |   8  |  9   |   0   | BSPC  |
            // |   `   |  1   |  2   |  3   |  4   |   5   |   6   |   7   |   8  |  9   |   0   | DEL   |
            // |  DEL  |  F1  |  F2  |  F3  |  F4  |  F5   |  F6   |   -   |   =  |  [   |   ]   |  \    |
            // |       |  F7  |  F8  |  F9  |  F10 |  F11  |  F12  |   #   |   \  | PGUP |  PGDN |       |
            // |       |      |      |      |      | SHIFT |       |       | NEXT | VOL- |  VOL+ | PLAY  |
            bindings = <
                &kp GRAVE  &kp N1  &kp N2  &kp N3  &kp N4    &kp N5                            &kp N6   &kp N7     &kp N8        &kp N9            &kp N0             &kp BSPC
                &kp GRAVE  &kp N1  &kp N2  &kp N3  &kp N4    &kp N5                            &kp N6   &kp N7     &kp N8        &kp N9            &kp N0             &kp DEL
                &kp DEL    &kp F1  &kp F2  &kp F3  &kp F4    &kp F5           &trans           &kp F6   &kp MINUS  &kp KP_EQUAL  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp BSLH
                &kp LSHIFT &kp F7  &kp F8  &kp F9  &kp F10   &kp F11                           &kp F12  &kp HASH   &kp BSLH      &kp PG_UP         &kp PG_DN          &none
                                           &none   &mo LOWER &kp LSHIFT   &trans    &trans     &none    &trans     &kp C_NEXT
                >;
        };
        adj {
            //  -------------------------------------------------------------------------------------------------
            // |  GRAV |  1   |  2   |  3   |  4    |  5     |   6     |  7     |  8   |  9    |   0   | BSPC   |
            // |  TAB  |  Q   |  W   |  E   |  R    |  T     |   Y     |  U     |  I   |  O    |   P   | DEL    |
            // |  ESC  |  A   |  S   |  D   |  F    |  G     |   H     |  J     |  K   |  L    |   ;   |  '     |
            // | SHIFT |  Z   |  X   |  C   |  V    |  B     |   N     |  M     |  ,   |  .    |   /   | RET    |
            // |       | LGUI | LALT | LCTL | LOWER | SPACE  |  SPACE  |  RAISE | LEFT |  DOWN |   UP  | RIGHT  |
            bindings = <
                &bootloader  &kp N1     &kp N2    &kp N3    &kp N4     &kp N5                           &kp N6     &kp N7     &kp N8     &kp N9    &kp N0     &kp BSPC
                &kp TAB      &kp Q      &kp W     &kp E     &kp R      &kp T                            &kp Y      &kp U      &kp I      &kp O     &kp P      &kp DEL
                &mt LCTL ESC &kp A      &kp S     &kp D     &kp F      &kp G          &forty_two        &kp H      &kp J      &kp K      &kp L     &kp SEMI   &kp SQT
                &kp LSHIFT   &kp Z      &kp X     &kp C     &kp V      &kp B                            &kp N      &kp M      &kp COMMA  &kp DOT   &kp SLASH  &mt RSHIFT RET
                                                  &kp LALT  &trans     &kp SPACE  &kp LEFT   &kp RIGHT  &kp SPACE  &trans     &kp K_CMENU
                >;
        };
    };
};
